<a href="https://colab.research.google.com/github/a-forty-two/EY_batch8_11Nov_AIplusOpenAI/blob/main/001_IntroToPyForDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
# list -> [ ]
# set -> { }
# tuple -> ( )
# dictionary -> { }

In [6]:
# list -> arrays
# list is heterogeneous collection
mylist = [1,2,3,True, 0.42, 'Blah blah', 45, 9.99e-4]
print(mylist)

# lists are ORDERED, INDEXED collections
# ORDER NEVER CHANGES-> 1,2,Banana will always remain 1,2,Banana
# INDEX-> mylist[0], mylist[1] -> here 0 and 1 are index

# left to right
print(mylist[3])
# right to left
print(mylist[-1])
print(mylist[-2])

#mutable -> thier values can change

mylist[-1] = 0
mylist[-2] = False

print(mylist)

[1, 2, 3, True, 0.42, 'Blah blah', 45, 0.000999]
True
0.000999
45
[1, 2, 3, True, 0.42, 'Blah blah', False, 0]

In [9]:
# tuples

# ORDERED, INDEXED but immutable
# once created, no changes can be made to tuple! -> READ ONLY

mytuple = (1,2,3,6.65,False,'bye')
print(mytuple)
print(mytuple[0]) # ORDERED and INDEXED
print(mytuple[-1])

(1, 2, 3, 6.65, False, 'bye')
1
bye

In [8]:
# modification SHOULD NOT WORK
mytuple[0] = 'hello world' # throw an error

TypeError: 'tuple' object does not support item assignment

In [10]:
# sets

# UNORDERED, UNINDEXED, NO DUPLICATES

myset = { 'apple', 42, 'apple', 42, -1 }
print(myset)

# dictionary

{42, 'apple', -1}

In [11]:
#UNINDEXED
myset[0] # ERROR -> 0 as an index doesn't exist in this set!

TypeError: 'set' object is not subscriptable

In [15]:
# dictionary -> SET with INDEXES
# word with meaning -> keys--- map to ----> values
# UNORDERED but INDEXED

mydct = { 'name' : 'Pikachu',
         'age' : 42,
          False : 'Hello world',
          101: "pottasium"}

In [16]:
print(mydct)

{'name': 'Pikachu', 'age': 42, False: 'Hello world', 101: 'pottasium'}

In [17]:
mydct[False]

'Hello world'

In [18]:
mydct[0] # 0 and False are same!

'Hello world'

In [19]:
mydct[1], mydct[True] # ERROR BECAUSE KEYS WOULDn't EXIST!

KeyError: 1

In [20]:
mydct = { 'name' : 'Pikachu',
         'age' : 42,
          False : 'Hello world',
          101: "pottasium",
          1: 101.11}
print(mydct[True])

101.11

In [22]:
for key, value in mydct.items():
  print(str(key) + " = " + str(value))

name = Pikachu
age = 42
False = Hello world
101 = pottasium
1 = 101.11