<a href="https://colab.research.google.com/github/a-forty-two/EY_batch8_11Nov_AIplusOpenAI/blob/main/11Nov_002_IntroToPyForOOPs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
# Loops -> Comprehensions -> act on every item of the data structure

# list comprehension
mylist = [ 2, 3,4,5,6,7,8]
# filter only even numbers on all elements
mynewlist = [element for element in mylist if element % 2 == 0]

# square all elements of my list
mysquarelist = [ x*x for x in mylist]

# Syntax: what_to_return_for_each_element for element in list condition

print(mynewlist)
print(mysquarelist)

[2, 4, 6, 8]
[4, 9, 16, 25, 36, 49, 64]

In [37]:
# dynamic variable behavior
a = 1
print(type(a))
a = 'bye'
print(type(a))
a = [1,2,3]
print(type(a))
a = (1,2,3)
print(type(a))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>

In [33]:
# return a tuple:

mysquaretyple = tuple([ x*x for x in mylist])
print(mysquaretyple)

(4, 9, 16, 25, 36, 49, 64)

TypeError: unhashable type: 'list'

In [38]:
# dictionary comprehension
# reversal of elements for example:

dct = { 'a':1, 'b':2, 'c': 3}

# keys into values, and values into keys; values should now be square of their original value

newdct = {val*val:key for key, val in dct.items()}

print(newdct)

{1: 'a', 4: 'b', 9: 'c'}

In [39]:
dct = { 'Cat':1, 'Dog': 2}
labels = ['Cat','Cat','Dog','Cat','Cat','Cat','Dog','Dog','Cat','Cat']

new_labels = [ dct[img] for img in labels ]
print(new_labels)

[1, 1, 2, 1, 1, 1, 2, 2, 1, 1]

In [43]:
# functions and classes

def sum(a,b):
  return a + b

print(sum(4,5))
print(sum("hello"," world"))

9
hello world

In [45]:
def sum(a,b=10):
  return a + b

print(sum(4))
print(sum(4, 1))

14
5

In [46]:
# string + int should be error
print(sum("bye"))

TypeError: can only concatenate str (not "int") to str

In [49]:
def sum(a,b=10):
  if(type(a) == type(b)):
    return a + b
  else:
    return str(a) + str(b)

print(sum("bye"))
print(sum("bye", " bye"))
print(sum(1, " popye"))
print(sum([1,2,3], " popye"))

bye10
bye bye
1 popye
[1, 2, 3] popye

How do functions work?


a = ds1

b = ds2

c = function(a,b)


memory layout -> stack and heap

Stack -> a [addrs_a], b [addrs_b], c [addrs_c]

heap -> addrs_a -> [ds1], addrs_b -> [ds2], addrs_c -> function()


Memory-> a=1, b=2, function(a,b), allocation to c

there is a memory jump whenever there is a function call

And jumps take time!

example-> if we had to transform 1 million values, does it mean 2 million memory jumps????


in case of Python lambdas, we allow ONLY 1 line execution whatever that 1 line is!!!

there is no MEMORY JUMP but rather in-place execution!

In [50]:
# LAMBDA FUNCTIONS
# by default no names, 1-line function

# syntax : because they are anonymous, they need to be stored in a variable name!

# lambda_name = lambda input : what_to_do_with_input

squared = lambda val : val*val

squared(4)

16

In [51]:
# COMBINING Functions' return with lambda can help you generate more functions!!
# common logic propagated across multiple functions!


def powering_function(y):
  return lambda x : x ** y

square = powering_function(2) # lambda x : x ** 2
cube = powering_function(3)# lambda x : x ** 3
penta = powering_function(5) # lambda x : x ** 5

In [58]:
print(powering_function(2))

<function powering_function.<locals>.<lambda> at 0x7d492f412320>

In [56]:
type(square), type(penta)

(function, function)

In [54]:
print(square(10))
print(cube(5))
print(penta(2))

100
125
32